<h1><%= @amusement_park.name %></h1>
<p>Admission cost: $<%= @amusement_park.admission_cost %></p>
<p>Rides: </p>
<% @amusement_park.rides.order_alphabetically.each do |ride| %>
  </p><%= ride.name %></p>
<% end %>
<p>"Average thrill rating for rides at <%= @amusement_park.name%>: <%= @amusement_park.average_thrill_rating %></p>